Django==5.2.1
djangorestframework==3.16.0
channels==4.2.2
daphne==4.2.1
websockets==15.0.1
psycopg[binary]==3.3.4
dj-database-url==2.3.0
celery==5.5.2
redis==6.1.0
gunicorn==23.0.0
django-cors-headers==4.7.0
python-dotenv==1.1.1
